* {
    margin-top: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Playpen Sans', cursive;
    font-family: 'Roboto', sans-serif;
}
body{
    background-image: url('./img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.box-fat{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 100px;
}
.box-fit {
    background-color: #ffffff60;
    padding: 30px;
    border-radius: 4%;
    box-shadow: 3px 3px 1px 0px #00000060;
}
h1{
    text-align: center;
    margin-bottom: 20px;
    color: rgb(250, 250, 255);
    text-shadow: 1px 2px 2px #00000060;
}
.label-float input{
    color: #005a59;
    width: 100%;
    padding: 5px 5px ;
    display: inline-block;
    border: 0;
    border-bottom: 1px solid #000000;
    background-color: transparent;
    outline: none;
    min-width: 180px;
    font-size:16px ;
    transition:  all .3s ease-out;
    border-radius: 0;

}
.label-float{
    position: relative;
    padding-top: 13px;
    margin-top: 5%;
    margin-bottom: 5%;
}
.label-float input:focus{
    border-bottom:  1px solid #000000;
}
.label-float label{
    color: aliceblue;
    text-shadow: 1px 2px 2px #00000060;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 13px;
    transition:all .3s ;

}
.label-float input:focus + label{
    font-size: 13px;
    margin-top: 0;
    color:#E0FFFF;
    text-shadow: 1px 2px 2px #00000060;
}
button{
    background-color: transparent;
    color: #E0FFFF;
    border-color: #0f141480 ;
    padding: 5px 5px 5px 5px;
    font-weight: bold;
    width: 90px;
    font-size: 15pt;
    margin-top: 20px;
    border-radius: 4px;
    cursor: pointer;
    text-shadow: 1px 2px 2px #00000060;
    outline: none;
}
button:hover{
    background-color: #E0FFFF;
    color: #230606;
    text-shadow: 1px 2px 2px #00000060;
    transition:  all .5s ease-out;
}
.justify-content{
    display: flex;
    justify-content: center;
}
hr{
    margin-top: 10%;
    margin-bottom: 10px;
    width: 60%;
    text-shadow: 1px 2px 2px #00000060;


}
p{
    color: #E0FFFF;
    text-shadow: 1px 2px 2px #00000060;
    font-size:14pt;
    text-align: center;
}
a{
    color: #005a59;
    text-shadow: 1px 2px 2px #00000060;
    font-weight: bold;
    text-decoration: none;

}
a:hover{
    color: aliceblue;
    transition:  all .5s ease-out;
}